<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <i class="fa fa-info-circle" aria-hidden="true"> Note:</i> You Can Drag and Drop Interface Note.
</div>

<h2 class="header">
  Dashboard Notes
  <%= link_to raw("<i class='fa fa-plus-square'></i> New Note"), new_note_path(), class: 'btn btn-sm btn-success pull-right' %>
  <%= link_to raw("<span class='glyphicon glyphicon-th'></span> List My Notes"), notes_path(), class: 'btn btn-sm btn-default pull-right',style: "margin-right: 10px;" %>
  <hr/>
</h2>

<div id="main">
  <%=render "notes/note"%>
</div>
