<div class="row">
  <div class="col-xs-14">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><span class="glyphicon glyphicon-th"></span> New Note</strong>
      </div>
      <div class="panel-body">
        <%= render 'form', note: @note %>
      </div>
    </div>
  </div>
</div>
