<!--navigation -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!-- <img src="/assets/img/logo.png" alt="Sticky Notes"> -->
        <div class="outside">Sticky Notes</div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active ">
          <a href="/" class="dropdown-toggle" >Home <i class=""></i></a>
        </li>
        <!--menu home li end here-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu multi-level" role="menu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Cube Portfolio </a>
              <ul class="dropdown-menu">
                <li><a href="juicy-portfolio.html"> Juicy Projects</a></li>
                <li><a href="cube-fullwidth.html"> Full Width</a></li>
                <li><a href="cube-masonry.html"> Masonry</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Grid Text Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-2.html"> 2 Columns</a></li>
                <li><a href="portfolio-3.html"> 3 Columns</a></li>
                <li><a href="portfolio-4.html"> 4 Columns</a></li>

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Grid Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="grid-portfolio-2-no-text.html">2 Columns</a></li>
                <li><a href="grid-portfolio-3-no-text.html">3 Columns</a></li>
                <li><a href="grid-portfolio-4-no-text.html">4 Columns</a></li>

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">No space Full width </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-full-width-2.html">2 columns</a></li>
                <li><a href="portfolio-full-width-3.html">3 columns</a></li>
                <li><a href="portfolio-full-width-4.html">4 columns</a></li>
                <li><a href="portfolio-full-width-5.html">5 columns</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">No Space Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-no-space-bx-2.html"> 2 Columns</a></li>
                <li><a href="portfolio-no-space-bx-3.html"> 3 Columns</a></li>
                <li><a href="portfolio-no-space-bx-4.html"> 4 Columns</a></li>

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Portfolio Masonry </a>
              <ul class="dropdown-menu">
                <li><a href="masonry-portfolio-3.html"> 3 Columns</a></li>
                <li><a href="masonry-portfolio-4.html"> 4 Columns</a></li>
                <li><a href="masonry-portfolio-full.html"> Full Width</a></li>

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Portfolio Items</a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-single.html">Single item</a></li>
                <li><a href="portfolio-single-2.html">Single item 2</a></li>
              </ul>
            </li>

          </ul>
        </li>
        <!--menu Portfolio li end here-->

        <!--                        <li class="dropdown">
        <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i> Sign In</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
        <form role="form">
        <h4>Signin</h4>

        <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <br>
      <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="checkbox pull-left">
    <label>
    <input type="checkbox"> Remember me
  </label>
</div>
<a class="btn btn-theme-bg pull-right">Login</a>
<button type="submit" class="btn btn-theme pull-right">Login</button>
<div class="clearfix"></div>
<hr>
<p>Don't have an account! <a href="#">Register Now</a></p>
</div>
</form>
</div>
</li> menu login li end here-->
</ul>
</div><!--/.nav-collapse -->
</div><!--container-->
</div>
<!--navbar-default-->
